Client/Service References/ServiceReference/StockExchangeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAll">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="page" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllResult" type="tns:GetAllResponseMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetAllResponseMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Stocks" type="tns:ArrayOfStockDetails" />
          <s:element minOccurs="1" maxOccurs="1" name="Page" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfStockDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StockDetails" nillable="true" type="tns:StockDetails" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StockDetails">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetByIds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ids" type="tns:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="page" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="size" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetByIdsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByIdsResult" type="tns:GetByIdsResponseMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetByIdsResponseMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Stocks" type="tns:ArrayOfStockDetails" />
          <s:element minOccurs="1" maxOccurs="1" name="Page" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByIdResult" type="tns:GetByIdResponseMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetByIdResponseMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Stock" type="tns:StockDetails" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllSoapIn">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="GetAllSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="GetByIdsSoapIn">
    <wsdl:part name="parameters" element="tns:GetByIds" />
  </wsdl:message>
  <wsdl:message name="GetByIdsSoapOut">
    <wsdl:part name="parameters" element="tns:GetByIdsResponse" />
  </wsdl:message>
  <wsdl:message name="GetByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="GetByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="StockExchangeServiceSoap">
    <wsdl:operation name="GetAll">
      <wsdl:input message="tns:GetAllSoapIn" />
      <wsdl:output message="tns:GetAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByIds">
      <wsdl:input message="tns:GetByIdsSoapIn" />
      <wsdl:output message="tns:GetByIdsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input message="tns:GetByIdSoapIn" />
      <wsdl:output message="tns:GetByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockExchangeServiceSoap" type="tns:StockExchangeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByIds">
      <soap:operation soapAction="http://tempuri.org/GetByIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockExchangeServiceSoap12" type="tns:StockExchangeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap12:operation soapAction="http://tempuri.org/GetAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByIds">
      <soap12:operation soapAction="http://tempuri.org/GetByIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap12:operation soapAction="http://tempuri.org/GetById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockExchangeService">
    <wsdl:port name="StockExchangeServiceSoap" binding="tns:StockExchangeServiceSoap">
      <soap:address location="http://localhost:6857/StockExchangeService.asmx" />
    </wsdl:port>
    <wsdl:port name="StockExchangeServiceSoap12" binding="tns:StockExchangeServiceSoap12">
      <soap12:address location="http://localhost:6857/StockExchangeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>